/*----- Toggle Button -----*/

.toggle-nav {
    display: none;
    overflow: hidden;
}


/*----- Menu -----*/

@media screen and (min-width: 860px) {
    .menu {
        width: 97.3%;
        padding: 10px 18px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: #303030;
    }
}

.menu ul {
    display: inline-block;
}

.menu li {
    margin: -3px 50px -3px -3px;
    float: left;
    list-style: none;
    font-size: 17px;
}

.menu li:last-child {
    margin-right: 0px;
}

.menu a {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #777;
    transition: color linear 0.15s;
}

.menu a:hover,
.menu .current-item a {
    text-decoration: none;
    color: #66a992;
}


/*--Search--*/

.search-box {
    float: right;
    top: 50%;
    left: 50%;
    background: #2f2f30;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-btn {
    color: #0b5209;
    float: rigth;
    width: 40px;
    height: 25px;
    border-radius: 50%;
    background: #2f2f30;
    display: inline-flex;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 28px;
    width: 0px;
}


/*----- Responsive -----*/

@media screen and (max-width: 1150px) {
    .wrap {
        width: 90%;
    }
}

@media screen and (max-width: 970px) {
    .search-form input {
        width: 120px;
    }
}

@media screen and (max-width: 860px) {
    .menu {
        position: relative;
        display: inline-block;
    }
    .menu ul.active {
        display: none;
    }
    .menu ul {
        width: 100%;
        position: absolute;
        top: 120%;
        left: 0px;
        padding: 10px 18px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: #303030;
    }
    .menu ul:after {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        transform: translate(-50%, -50%);
        min-width: calc(100%=20px);
        z-index: -2%;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #303030;
    }
    .menu li {
        margin: 5px 0px 5px 0px;
        float: none;
        display: block;
    }
    .menu a {
        display: block;
    }
    .toggle-nav {
        padding: 20px;
        float: none;
        display: inline-block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: #303030;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
        color: #777;
        font-size: 20px;
        transition: color linear 0.15s;
    }
    .toggle-nav:hover,
    .toggle-nav.active {
        text-decoration: none;
        color: #66a992;
    }
    /*----- Responsive -----*/
    @media screen and (max-width: 1150px) {
        .wrap {
            width: 90%;
        }
    }
    @media screen and (max-width: 970px) {
        .search-box input {
            width: 100px;
        }
    }
    @media screen and (max-width: 860px) {
        .search-box {
            position: relative;
        }
        .search-box.active {
            display: none;
        }
        .search-box ul {
            width: 100%;
            position: absolute;
            top: 120%;
            left: 0px;
            padding: 10px 18px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
            border-radius: 3px;
            background: #303030;
        }
        .search-box::after {
            width: 0px;
            height: 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            content: '';
            z-index: -2%;
            transform: translate(-50%, -50%);
            border-right: 7px solid transparent;
            border-bottom: 7px solid #303030;
        }
        .search-box li {
            margin: 5px 0px 5px 0px;
            float: none;
            display: block;
        }
        .search-box {
            display: none;
        }
    }
}